
body {
    background-color: hsl(36deg 30% 91%);
}


span {
    font-style: italic;
    font-size: x-large;
    color: red;
}

h1 {
    color: blue;
    font-weight: 500;
    text-align: center;
  }
    
    
 .termekfoto {
     width: 180px;
  }

  label {
      font-size: large;
      }

div.bal {
    float: left;
}      

div.jobb {
    float: right
}

.div3 {
clear: left;
}

div.box {
    background-color: white;
    max-width: 600px;
    width: 90%;
    margin: 40px auto;
}

div.header-image{
    background-image: url(img/Banánkenyér.jpg);
    background-size: 180px;
    height: 180px;  
}

div.box-content {
    padding: 20px;
}